* {
    font-family: outfit;
    margin: 0;
    padding: 0;
}

/* html, body {
    height: 100%;
} */

.head {
    margin: 10px;
}

.project {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 0;

}

.project-text {
    font-weight: 200;
}

.projects {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 20px;
    justify-content: center;
}

.flip-container {
    perspective: 1000px;
    margin: 20px;
}

.flipper {
    position: relative;
    width: 300px;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 300px;
    height: fit-content;
    overflow: hidden;
    backface-visibility: hidden;
    border: 2px solid white;
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 20px 0 50px #2026ee, -20px 0 50px #bb00d4;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    border: 2px solid orange;
    padding: 5px;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transform: rotateY(180deg);
}

.project-text {
    text-align: justify;
    margin: 10px;
}

.project-btns {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-btns button {
    flex-grow: 1;
    margin: 0 5px 20px;
    padding: 20px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #8E2DE2;
}

.project-btns button:hover {
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    transform: scale(1.05);
    box-shadow: 40px 0 100px #2026ee, -40px 0 100px #bb00d4;
    border: 0px;
}

.project-btns button:first-child {
    margin-left: 0;
}

.project-btns button:last-child {
    margin-right: 0;
}
/* Hide the span-tooltip by default */
.span-tooltip {
    display: none;
  }
  
  /* Media query for mobile and tablet devices */
@media only screen and (max-width: 768px) {
    .span-tooltip {
        display: block;
        text-align: center;
    }
}
  /* Media query for larger screens to adjust grid layout */
  @media only screen and (min-width: 768px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media only screen and (min-width: 1024px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}
