.Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020840; 
    z-index: 1000; 
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
  .Loader img {
    width: 700px;
    height: auto;
  }
  
  .Loader.loaded {
    opacity: 0;
    pointer-events: none;
  }

@media (max-width: 700px){
  .Loader img{
    width: 400px;
    height: auto;
  }

}