.Hero{
    width: 100%;
    padding: 20px;
    margin: 12% 0 12% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}


.Hero > div{
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    border-radius: 50%;
    box-shadow: 20px 0 50px #2026ee, -20px 0 50px #bb00d4;
    margin-right: 20px;
    width: 350px;
    height: auto;
    object-fit: cover;
}


.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
}


.p1 {
    font-size: 1.5rem; /* Use rem for scalable font size */
}

.title {
    font-size: 3.5rem; /* Use rem for scalable font size */
    background: linear-gradient(228deg, rgba(32, 38, 238, 1) 0%, rgba(187, 0, 212, 1) 65%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}

.p2 {
    font-size: 2rem; 
    line-height: 1.5;     
}

.role{
    display: inline-block;
}

span{
    background: linear-gradient(228deg, rgba(32, 38, 238, 1) 0%, rgba(187, 0, 212, 1) 65%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}




@media (max-width: 700px) {
    .Hero {
        flex-direction: column;
        text-align: center;
    }

    .image img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text {
        align-items: center;
    }

    .title {
        font-size: 2.5rem;
    }

    .p2 {
        font-size: 1.5rem;
    }

    button.download {
        font-size: 0.875rem;
    }

    .icon {
        font-size: 1.25rem;
    }
}