.Hero{
    width: 100%;
    padding: 20px;
    margin: 12% 0 12% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}


.Hero > div{
    flex: 1 1 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    border-radius: 50%;
    box-shadow: 20px 0 50px #2026ee, -20px 0 50px #bb00d4;
    margin-right: 20px;
    width: 350px;
    height: auto;
    object-fit: cover;
}


.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
}


.p1 {
    font-size: 1.5rem; /* Use rem for scalable font size */
}

.title {
    font-size: 3.5rem; /* Use rem for scalable font size */
    background: linear-gradient(228deg, rgba(32, 38, 238, 1) 0%, rgba(187, 0, 212, 1) 65%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}

.p2 {
    font-size: 2rem; 
    line-height: 1.5;     
}

.role{
    display: inline-block;
}

span{
    background: linear-gradient(228deg, rgb(238, 255, 4) 0%, #f5c904 65%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}


.download{
    font-size: 1rem;
    padding: 15px 15px;
    border-radius: 50px;
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    margin-right: 20px
}

.download:hover{
    transform: scale(1.05);
    box-shadow: 20px 0 80px #2026ee, -20px 0 80px #bb00d4;
}

.icon{
    margin: 0 10px 0 10px;
    font-size: 2rem;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;

}

.icon:hover {
    box-shadow: 40px 0 100px #2026ee, -40px 0 100px #bb00d4;
}


.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width: 700px) {
    .Hero {
        flex-direction: column;
        text-align: center;
    }

    .image img {
        margin: 30px 0 20px 0;
    }

    .text {
        align-items: center;
    }

    .title {
        font-size: 2rem;
    }

    .p2 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .role{
        width: max-content;
    }

    button.download {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.5rem;
    }
}